@tailwind base;
@tailwind components;
@tailwind utilities;

.backImgMob {
    background-image: url('./assets/images/background-pattern-mobile.svg');
     /* background-size: cover; */
    background-position: top; 
    background-repeat: no-repeat;
}

.backImgDesktop {
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-size: cover;
    /* background-position: top; */
    background-repeat: no-repeat;
}


@layer base {
    h1 {
        @apply text-3xl;
    }
}